### Unemployment Rate by Race

In [3]:
import pandas as pd
import requests

In [4]:
API_KEY = 'tT8qNAwBZW89z54wPsZy'
url = 'https://www.quandl.com/api/v3/datasets/FRED/LNS14000003.json?api_key='+ API_KEY
response = requests.get(url).json()
response

{'dataset': {'id': 120204,
  'dataset_code': 'LNS14000003',
  'database_code': 'FRED',
  'name': 'Unemployment Rate: White',
  'description': 'Percent Seasonally Adjusted,  ',
  'refreshed_at': '2021-04-03T01:13:35.813Z',
  'newest_available_date': '2021-03-01',
  'oldest_available_date': '1954-01-01',
  'column_names': ['Date', 'Value'],
  'frequency': 'monthly',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '1954-01-01',
  'end_date': '2021-03-01',
  'data': [['2021-03-01', 5.4],
   ['2021-02-01', 5.6],
   ['2021-01-01', 5.7],
   ['2020-12-01', 6.0],
   ['2020-11-01', 5.9],
   ['2020-10-01', 6.0],
   ['2020-09-01', 7.0],
   ['2020-08-01', 7.4],
   ['2020-07-01', 9.2],
   ['2020-06-01', 10.1],
   ['2020-05-01', 12.3],
   ['2020-04-01', 14.1],
   ['2020-03-01', 3.9],
   ['2020-02-01', 3.0],
   ['2020-01-01', 3.0],
   ['2019-12-01', 3.1],
   ['2019-11-01', 3.3],
   ['2019-10-01', 3.3],
   ['2019-09-01', 3.2],
   ['2019-08-01', 3.4],
   ['2019-07-01', 3.3],
   ['2019-06-01', 3.3],
   ['2019-05-01', 3.3],
   ['2019-04-01', 3.2],
   ['2019-03-01', 3.3],
   ['2019-02-01', 3.2],
   ['2019-01-01', 3.5],
   ['2018-12-01', 3.4],
   ['2018-11-01', 3.4],
   ['2018-10-01', 3.3],
   ['2018-09-01', 3.3],
   ['2018-08-01', 3.4],
   ['2018-07-01', 3.3],
   ['2018-06-01', 3.5],
   ['2018-05-01', 3.5],
   ['2018-04-01', 3.6],
   ['2018-03-01', 3.5],
   ['2018-02-01', 3.6],
   ['2018-01-01', 3.5],
   ['2017-12-01', 3.7],
   ['2017-11-01', 3.7],
   ['2017-10-01', 3.6],
   ['2017-09-01', 3.7],
   ['2017-08-01', 3.9],
   ['2017-07-01', 3.7],
   ['2017-06-01', 3.8],
   ['2017-05-01', 3.8],
   ['2017-04-01', 3.9],
   ['2017-03-01', 3.9],
   ['2017-02-01', 4.0],
   ['2017-01-01', 4.2],
   ['2016-12-01', 4.2],
   ['2016-11-01', 4.2],
   ['2016-10-01', 4.4],
   ['2016-09-01', 4.4],
   ['2016-08-01', 4.4],
   ['2016-07-01', 4.2],
   ['2016-06-01', 4.3],
   ['2016-05-01', 4.2],
   ['2016-04-01', 4.4],
   ['2016-03-01', 4.3],
   ['2016-02-01', 4.2],
   ['2016-01-01', 4.2],
   ['2015-12-01', 4.4],
   ['2015-11-01', 4.4],
   ['2015-10-01', 4.4],
   ['2015-09-01', 4.4],
   ['2015-08-01', 4.4],
   ['2015-07-01', 4.5],
   ['2015-06-01', 4.6],
   ['2015-05-01', 4.8],
   ['2015-04-01', 4.7],
   ['2015-03-01', 4.8],
   ['2015-02-01', 4.7],
   ['2015-01-01', 4.9],
   ['2014-12-01', 4.7],
   ['2014-11-01', 5.0],
   ['2014-10-01', 4.9],
   ['2014-09-01', 5.1],
   ['2014-08-01', 5.3],
   ['2014-07-01', 5.3],
   ['2014-06-01', 5.3],
   ['2014-05-01', 5.4],
   ['2014-04-01', 5.3],
   ['2014-03-01', 5.8],
   ['2014-02-01', 5.8],
   ['2014-01-01', 5.7],
   ['2013-12-01', 5.9],
   ['2013-11-01', 6.1],
   ['2013-10-01', 6.3],
   ['2013-09-01', 6.3],
   ['2013-08-01', 6.4],
   ['2013-07-01', 6.5],
   ['2013-06-01', 6.6],
   ['2013-05-01', 6.7],
   ['2013-04-01', 6.7],
   ['2013-03-01', 6.7],
   ['2013-02-01', 6.8],
   ['2013-01-01', 7.1],
   ['2012-12-01', 6.9],
   ['2012-11-01', 6.8],
   ['2012-10-01', 6.9],
   ['2012-09-01', 7.0],
   ['2012-08-01', 7.2],
   ['2012-07-01', 7.3],
   ['2012-06-01', 7.3],
   ['2012-05-01', 7.4],
   ['2012-04-01', 7.4],
   ['2012-03-01', 7.3],
   ['2012-02-01', 7.4],
   ['2012-01-01', 7.4],
   ['2011-12-01', 7.5],
   ['2011-11-01', 7.7],
   ['2011-10-01', 7.9],
   ['2011-09-01', 7.9],
   ['2011-08-01', 7.9],
   ['2011-07-01', 8.0],
   ['2011-06-01', 8.1],
   ['2011-05-01', 7.9],
   ['2011-04-01', 8.1],
   ['2011-03-01', 8.0],
   ['2011-02-01', 8.1],
   ['2011-01-01', 8.1],
   ['2010-12-01', 8.5],
   ['2010-11-01', 8.9],
   ['2010-10-01', 8.6],
   ['2010-09-01', 8.6],
   ['2010-08-01', 8.6],
   ['2010-07-01', 8.5],
   ['2010-06-01', 8.6],
   ['2010-05-01', 8.7],
   ['2010-04-01', 9.0],
   ['2010-03-01', 8.9],
   ['2010-02-01', 8.9],
   ['2010-01-01', 8.8],
   ['2009-12-01', 9.0],
   ['2009-11-01', 9.2],
   ['2009-10-01', 9.2],
   ['2009-09-01', 8.9],
   ['2009-08-01', 8.9],
   ['2009-07-01', 8.7],
   ['2009-06-01', 8.7],
   ['2009-05-01', 8.5],
   ['2009-04-01', 8.1],
   ['2009-03-01', 8.0],
   ['2009-02-01', 7.6],
   ['2009-01-01', 7.1],
   ['2008-12-01', 6.7],
   ['2008-11-01', 6.2],
   ['2008-10-01', 5.9],
   ['2008-09-01', 5.4],
   ['2008-08-01', 5.4],
   ['2008-07-01', 5.2],
   ['2008-06-01', 5.0],
   ['2008-05-01', 4.8],
   ['2008-04-01', 4.4],
   ['2008-03-01', 4.5],
   ['2008-02-01', 4.4],
   ['2008-01-01', 4.4],
   ['2007-12-01', 4.4],
   ['2007-11-01', 4.2],
   ['2007-10-01', 4.1],
   ['2007-09-01', 4.2],
   ['2007-08-01', 4.2],
   ['2007-07-01', 4.2],
   ['2007-06-01', 4.1],
   ['2007-05-01', 3.9],
   ['2007-04-01', 4.0],
   ['2007-03-01', 3.8],
   ['2007-02-01', 4.1],
   ['2007-01-01', 4.2],
   ['2006-12-01', 3.9],
   ['2006-11-01', 4.0],
   ['2006-10-01', 3.9],
   ['2006-09-01', 3.9],
   ['2006-08-01', 4.1],
   ['2006-07-01', 4.1],
   ['2006-06-01', 4.1],
   ['2006-05-01', 4.1],
   ['2006-04-01', 4.1],
   ['2006-03-01', 4.0],
   ['2006-02-01', 4.1],
   ['2006-01-01', 4.1],
   ['2005-12-01', 4.2],
   ['2005-11-01', 4.3],
   ['2005-10-01', 4.4],
   ['2005-09-01', 4.4],
   ['2005-08-01', 4.2],
   ['2005-07-01', 4.2],
   ['2005-06-01', 4.3],
   ['2005-05-01', 4.4],
   ['2005-04-01', 4.4],
   ['2005-03-01', 4.5],
   ['2005-02-01', 4.6],
   ['2005-01-01', 4.5],
   ['2004-12-01', 4.5],
   ['2004-11-01', 4.6],
   ['2004-10-01', 4.6],
   ['2004-09-01', 4.6],
   ['2004-08-01', 4.7],
   ['2004-07-01', 4.7],
   ['2004-06-01', 5.0],
   ['2004-05-01', 4.9],
   ['2004-04-01', 5.0],
   ['2004-03-01', 5.1],
   ['2004-02-01', 4.9],
   ['2004-01-01', 5.0],
   ['2003-12-01', 5.0],
   ['2003-11-01', 5.2],
   ['2003-10-01', 5.1],
   ['2003-09-01', 5.3],
   ['2003-08-01', 5.4],
   ['2003-07-01', 5.4],
   ['2003-06-01', 5.5],
   ['2003-05-01', 5.4],
   ['2003-04-01', 5.3],
   ['2003-03-01', 5.1],
   ['2003-02-01', 5.1],
   ['2003-01-01', 5.2],
   ['2002-12-01', 5.1],
   ['2002-11-01', 5.1],
   ['2002-10-01', 5.1],
   ['2002-09-01', 5.1],
   ['2002-08-01', 5.1],
   ['2002-07-01', 5.2],
   ['2002-06-01', 5.1],
   ['2002-05-01', 5.1],
   ['2002-04-01', 5.2],
   ['2002-03-01', 5.0],
   ['2002-02-01', 5.0],
   ['2002-01-01', 5.1],
   ['2001-12-01', 5.1],
   ['2001-11-01', 4.9],
   ['2001-10-01', 4.7],
   ['2001-09-01', 4.3],
   ['2001-08-01', 4.3],
   ['2001-07-01', 4.0],
   ['2001-06-01', 4.0],
   ['2001-05-01', 3.8],
   ['2001-04-01', 3.9],
   ['2001-03-01', 3.7],
   ['2001-02-01', 3.7],
   ['2001-01-01', 3.6],
   ['2000-12-01', 3.5],
   ['2000-11-01', 3.5],
   ['2000-10-01', 3.4],
   ['2000-09-01', 3.5],
   ['2000-08-01', 3.6],
   ['2000-07-01', 3.5],
   ['2000-06-01', 3.4],
   ['2000-05-01', 3.5],
   ['2000-04-01', 3.4],
   ['2000-03-01', 3.5],
   ['2000-02-01', 3.6],
   ['2000-01-01', 3.4],
   ['1999-12-01', 3.5],
   ['1999-11-01', 3.5],
   ['1999-10-01', 3.5],
   ['1999-09-01', 3.6],
   ['1999-08-01', 3.7],
   ['1999-07-01', 3.7],
   ['1999-06-01', 3.8],
   ['1999-05-01', 3.7],
   ['1999-04-01', 3.8],
   ['1999-03-01', 3.6],
   ['1999-02-01', 3.8],
   ['1999-01-01', 3.8],
   ['1998-12-01', 3.8],
   ['1998-11-01', 3.8],
   ['1998-10-01', 3.9],
   ['1998-09-01', 3.9],
   ['1998-08-01', 3.9],
   ['1998-07-01', 3.8],
   ['1998-06-01', 3.9],
   ['1998-05-01', 3.8],
   ['1998-04-01', 3.7],
   ['1998-03-01', 4.0],
   ['1998-02-01', 3.9],
   ['1998-01-01', 4.0],
   ['1997-12-01', 3.9],
   ['1997-11-01', 3.9],
   ['1997-10-01', 4.1],
   ['1997-09-01', 4.2],
   ['1997-08-01', 4.2],
   ['1997-07-01', 4.2],
   ['1997-06-01', 4.2],
   ['1997-05-01', 4.1],
   ['1997-04-01', 4.3],
   ['1997-03-01', 4.4],
   ['1997-02-01', 4.5],
   ['1997-01-01', 4.5],
   ['1996-12-01', 4.6],
   ['1996-11-01', 4.6],
   ['1996-10-01', 4.5],
   ['1996-09-01', 4.5],
   ['1996-08-01', 4.4],
   ['1996-07-01', 4.7],
   ['1996-06-01', 4.6],
   ['1996-05-01', 4.9],
   ['1996-04-01', 4.8],
   ['1996-03-01', 4.8],
   ['1996-02-01', 4.8],
   ['1996-01-01', 4.9],
   ['1995-12-01', 4.9],
   ['1995-11-01', 5.0],
   ['1995-10-01', 4.9],
   ['1995-09-01', 4.9],
   ['1995-08-01', 4.9],
   ['1995-07-01', 4.9],
   ['1995-06-01', 4.9],
   ['1995-05-01', 5.0],
   ['1995-04-01', 5.0],
   ['1995-03-01', 4.7],
   ['1995-02-01', 4.7],
   ['1995-01-01', 4.8],
   ['1994-12-01', 4.8],
   ['1994-11-01', 4.8],
   ['1994-10-01', 5.0],
   ['1994-09-01', 5.1],
   ['1994-08-01', 5.2],
   ['1994-07-01', 5.3],
   ['1994-06-01', 5.3],
   ['1994-05-01', 5.2],
   ['1994-04-01', 5.6],
   ['1994-03-01', 5.7],
   ['1994-02-01', 5.7],
   ['1994-01-01', 5.7],
   ['1993-12-01', 5.8],
   ['1993-11-01', 5.7],
   ['1993-10-01', 6.2],
   ['1993-09-01', 5.9],
   ['1993-08-01', 6.0],
   ['1993-07-01', 6.1],
   ['1993-06-01', 6.2],
   ['1993-05-01', 6.2],
   ['1993-04-01', 6.1],
   ['1993-03-01', 6.1],
   ['1993-02-01', 6.2],
   ['1993-01-01', 6.3],
   ['1992-12-01', 6.5],
   ['1992-11-01', 6.5],
   ['1992-10-01', 6.5],
   ['1992-09-01', 6.7],
   ['1992-08-01', 6.7],
   ['1992-07-01', 6.7],
   ['1992-06-01', 6.9],
   ['1992-05-01', 6.6],
   ['1992-04-01', 6.5],
   ['1992-03-01', 6.5],
   ['1992-02-01', 6.5],
   ['1992-01-01', 6.4],
   ['1991-12-01', 6.5],
   ['1991-11-01', 6.3],
   ['1991-10-01', 6.2],
   ['1991-09-01', 6.2],
   ['1991-08-01', 6.2],
   ['1991-07-01', 6.2],
   ['1991-06-01', 6.2],
   ['1991-05-01', 6.1],
   ['1991-04-01', 5.9],
   ['1991-03-01', 6.0],
   ['1991-02-01', 5.8],
   ['1991-01-01', 5.6],
   ['1990-12-01', 5.4],
   ['1990-11-01', 5.3],
   ['1990-10-01', 5.1],
   ['1990-09-01', 5.0],
   ['1990-08-01', 4.9],
   ['1990-07-01', 4.7],
   ['1990-06-01', 4.5],
   ['1990-05-01', 4.6],
   ['1990-04-01', 4.7],
   ['1990-03-01', 4.5],
   ['1990-02-01', 4.6],
   ['1990-01-01', 4.6],
   ['1989-12-01', 4.6],
   ['1989-11-01', 4.6],
   ['1989-10-01', 4.5],
   ['1989-09-01', 4.5],
   ['1989-08-01', 4.5],
   ['1989-07-01', 4.5],
   ['1989-06-01', 4.5],
   ['1989-05-01', 4.4],
   ['1989-04-01', 4.5],
   ['1989-03-01', 4.2],
   ['1989-02-01', 4.3],
   ['1989-01-01', 4.6],
   ['1988-12-01', 4.6],
   ['1988-11-01', 4.6],
   ['1988-10-01', 4.7],
   ['1988-09-01', 4.8],
   ['1988-08-01', 4.8],
   ['1988-07-01', 4.7],
   ['1988-06-01', 4.6],
   ['1988-05-01', 4.7],
   ['1988-04-01', 4.6],
   ['1988-03-01', 4.8],
   ['1988-02-01', 4.9],
   ['1988-01-01', 5.0],
   ['1987-12-01', 4.9],
   ['1987-11-01', 5.0],
   ['1987-10-01', 5.2],
   ['1987-09-01', 5.1],
   ['1987-08-01', 5.1],
   ['1987-07-01', 5.2],
   ['1987-06-01', 5.4],
   ['1987-05-01', 5.4],
   ['1987-04-01', 5.4],
   ['1987-03-01', 5.7],
   ['1987-02-01', 5.7],
   ['1987-01-01', 5.7],
   ['1986-12-01', 5.8],
   ['1986-11-01', 6.0],
   ['1986-10-01', 6.0],
   ['1986-09-01', 6.0],
   ['1986-08-01', 5.9],
   ['1986-07-01', 6.1],
   ['1986-06-01', 6.2],
   ['1986-05-01', 6.2],
   ['1986-04-01', 6.1],
   ['1986-03-01', 6.2],
   ['1986-02-01', 6.3],
   ['1986-01-01', 5.7],
   ['1985-12-01', 6.0],
   ['1985-11-01', 5.9],
   ['1985-10-01', 6.1],
   ['1985-09-01', 6.1],
   ['1985-08-01', 6.2],
   ['1985-07-01', 6.4],
   ['1985-06-01', 6.5],
   ['1985-05-01', 6.2],
   ['1985-04-01', 6.3],
   ['1985-03-01', 6.2],
   ['1985-02-01', 6.2],
   ['1985-01-01', 6.3],
   ['1984-12-01', 6.3],
   ['1984-11-01', 6.2],
   ['1984-10-01', 6.3],
   ['1984-09-01', 6.4],
   ['1984-08-01', 6.4],
   ['1984-07-01', 6.3],
   ['1984-06-01', 6.2],
   ['1984-05-01', 6.4],
   ['1984-04-01', 6.7],
   ['1984-03-01', 6.7],
   ['1984-02-01', 6.8],
   ['1984-01-01', 6.9],
   ['1983-12-01', 7.1],
   ['1983-11-01', 7.4],
   ['1983-10-01', 7.7],
   ['1983-09-01', 8.0],
   ['1983-08-01', 8.2],
   ['1983-07-01', 8.2],
   ['1983-06-01', 8.7],
   ['1983-05-01', 8.8],
   ['1983-04-01', 8.9],
   ['1983-03-01', 9.1],
   ['1983-02-01', 9.3],
   ['1983-01-01', 9.1],
   ['1982-12-01', 9.7],
   ['1982-11-01', 9.6],
   ['1982-10-01', 9.2],
   ['1982-09-01', 9.0],
   ['1982-08-01', 8.7],
   ['1982-07-01', 8.7],
   ['1982-06-01', 8.5],
   ['1982-05-01', 8.2],
   ['1982-04-01', 8.3],
   ['1982-03-01', 8.0],
   ['1982-02-01', 7.8],
   ['1982-01-01', 7.6],
   ['1981-12-01', 7.5],
   ['1981-11-01', 7.3],
   ['1981-10-01', 6.9],
   ['1981-09-01', 6.6],
   ['1981-08-01', 6.3],
   ['1981-07-01', 6.3],
   ['1981-06-01', 6.5],
   ['1981-05-01', 6.6],
   ['1981-04-01', 6.4],
   ['1981-03-01', 6.5],
   ['1981-02-01', 6.6],
   ['1981-01-01', 6.7],
   ['1980-12-01', 6.3],
   ['1980-11-01', 6.5],
   ['1980-10-01', 6.6],
   ['1980-09-01', 6.6],
   ['1980-08-01', 6.9],
   ['1980-07-01', 6.9],
   ['1980-06-01', 6.7],
   ['1980-05-01', 6.6],
   ['1980-04-01', 6.1],
   ['1980-03-01', 5.6],
   ['1980-02-01', 5.5],
   ['1980-01-01', 5.5],
   ['1979-12-01', 5.2],
   ['1979-11-01', 5.2],
   ['1979-10-01', 5.2],
   ['1979-09-01', 5.2],
   ['1979-08-01', 5.3],
   ['1979-07-01', 4.9],
   ['1979-06-01', 4.9],
   ['1979-05-01', 4.8],
   ['1979-04-01', 5.0],
   ['1979-03-01', 5.1],
   ['1979-02-01', 5.1],
   ['1979-01-01', 5.1],
   ['1978-12-01', 5.2],
   ['1978-11-01', 5.0],
   ['1978-10-01', 5.0],
   ['1978-09-01', 5.2],
   ['1978-08-01', 5.1],
   ['1978-07-01', 5.3],
   ['1978-06-01', 5.0],
   ['1978-05-01', 5.2],
   ['1978-04-01', 5.3],
   ['1978-03-01', 5.4],
   ['1978-02-01', 5.5],
   ['1978-01-01', 5.5],
   ['1977-12-01', 5.5],
   ['1977-11-01', 5.8],
   ['1977-10-01', 5.9],
   ['1977-09-01', 6.0],
   ['1977-08-01', 6.0],
   ['1977-07-01', 6.0],
   ['1977-06-01', 6.4],
   ['1977-05-01', 6.3],
   ['1977-04-01', 6.4],
   ['1977-03-01', 6.7],
   ['1977-02-01', 6.9],
   ['1977-01-01', 6.8],
   ['1976-12-01', 7.0],
   ['1976-11-01', 7.1],
   ['1976-10-01', 7.0],
   ['1976-09-01', 7.0],
   ['1976-08-01', 7.1],
   ['1976-07-01', 7.1],
   ['1976-06-01', 6.9],
   ['1976-05-01', 6.7],
   ['1976-04-01', 6.9],
   ['1976-03-01', 6.9],
   ['1976-02-01', 6.9],
   ['1976-01-01', 7.2],
   ['1975-12-01', 7.4],
   ['1975-11-01', 7.6],
   ['1975-10-01', 7.7],
   ['1975-09-01', 7.7],
   ['1975-08-01', 7.7],
   ['1975-07-01', 8.0],
   ['1975-06-01', 8.1],
   ['1975-05-01', 8.4],
   ['1975-04-01', 8.0],
   ['1975-03-01', 7.8],
   ['1975-02-01', 7.4],
   ['1975-01-01', 7.4],
   ['1974-12-01', 6.4],
   ['1974-11-01', 6.0],
   ['1974-10-01', 5.4],
   ['1974-09-01', 5.4],
   ['1974-08-01', 5.0],
   ['1974-07-01', 4.9],
   ['1974-06-01', 4.8],
   ['1974-05-01', 4.6],
   ['1974-04-01', 4.5],
   ['1974-03-01', 4.5],
   ['1974-02-01', 4.6],
   ['1974-01-01', 4.6],
   ['1973-12-01', 4.4],
   ['1973-11-01', 4.3],
   ['1973-10-01', 4.1],
   ['1973-09-01', 4.3],
   ['1973-08-01', 4.3],
   ['1973-07-01', 4.2],
   ['1973-06-01', 4.3],
   ['1973-05-01', 4.3],
   ['1973-04-01', 4.5],
   ['1973-03-01', 4.4],
   ['1973-02-01', 4.5],
   ['1973-01-01', 4.5],
   ['1972-12-01', 4.6],
   ['1972-11-01', 4.7],
   ['1972-10-01', 5.1],
   ['1972-09-01', 5.0],
   ['1972-08-01', 5.1],
   ['1972-07-01', 5.1],
   ['1972-06-01', 5.1],
   ['1972-05-01', 5.1],
   ['1972-04-01', 5.3],
   ['1972-03-01', 5.2],
   ['1972-02-01', 5.1],
   ['1972-01-01', 5.2],
   ['1971-12-01', 5.4],
   ['1971-11-01', 5.6],
   ['1971-10-01', 5.4],
   ['1971-09-01', 5.4],
   ['1971-08-01', 5.6],
   ['1971-07-01', 5.5],
   ['1971-06-01', 5.5],
   ['1971-05-01', 5.4],
   ['1971-04-01', 5.4],
   ['1971-03-01', 5.5],
   ['1971-02-01', 5.3],
   ['1971-01-01', 5.5],
   ['1970-12-01', 5.6],
   ['1970-11-01', 5.4],
   ['1970-10-01', 5.2],
   ['1970-09-01', 5.0],
   ['1970-08-01', 4.7],
   ['1970-07-01', 4.6],
   ['1970-06-01', 4.5],
   ['1970-05-01', 4.4],
   ['1970-04-01', 4.1],
   ['1970-03-01', 4.0],
   ['1970-02-01', 3.8],
   ['1970-01-01', 3.6],
   ['1969-12-01', 3.3],
   ['1969-11-01', 3.2],
   ['1969-10-01', 3.4],
   ['1969-09-01', 3.4],
   ['1969-08-01', 3.1],
   ['1969-07-01', 3.2],
   ['1969-06-01', 3.1],
   ['1969-05-01', 3.0],
   ['1969-04-01', 3.0],
   ['1969-03-01', 3.0],
   ['1969-02-01', 3.0],
   ['1969-01-01', 3.0],
   ['1968-12-01', 3.0],
   ['1968-11-01', 3.0],
   ['1968-10-01', 3.0],
   ['1968-09-01', 3.1],
   ['1968-08-01', 3.2],
   ['1968-07-01', 3.2],
   ['1968-06-01', 3.4],
   ['1968-05-01', 3.1],
   ['1968-04-01', 3.1],
   ['1968-03-01', 3.2],
   ['1968-02-01', 3.4],
   ['1968-01-01', 3.3],
   ['1967-12-01', 3.4],
   ['1967-11-01', 3.5],
   ['1967-10-01', 3.5],
   ['1967-09-01', 3.3],
   ['1967-08-01', 3.4],
   ['1967-07-01', 3.3],
   ['1967-06-01', 3.5],
   ['1967-05-01', 3.3],
   ['1967-04-01', 3.4],
   ['1967-03-01', 3.3],
   ['1967-02-01', 3.3],
   ['1967-01-01', 3.4],
   ['1966-12-01', 3.3],
   ['1966-11-01', 3.2],
   ['1966-10-01', 3.3],
   ['1966-09-01', 3.2],
   ['1966-08-01', 3.3],
   ['1966-07-01', 3.3],
   ['1966-06-01', 3.4],
   ['1966-05-01', 3.5],
   ['1966-04-01', 3.3],
   ['1966-03-01', 3.4],
   ['1966-02-01', 3.4],
   ['1966-01-01', 3.5],
   ['1965-12-01', 3.6],
   ['1965-11-01', 3.7],
   ['1965-10-01', 3.8],
   ['1965-09-01', 3.8],
   ['1965-08-01', 4.0],
   ['1965-07-01', 3.9],
   ['1965-06-01', 4.2],
   ['1965-05-01', 4.2],
   ['1965-04-01', 4.4],
   ['1965-03-01', 4.3],
   ['1965-02-01', 4.5],
   ['1965-01-01', 4.3],
   ['1964-12-01', 4.5],
   ['1964-11-01', 4.3],
   ['1964-10-01', 4.6],
   ['1964-09-01', 4.5],
   ['1964-08-01', 4.4],
   ['1964-07-01', 4.3],
   ['1964-06-01', 4.7],
   ['1964-05-01', 4.5],
   ['1964-04-01', 4.8],
   ['1964-03-01', 4.9],
   ['1964-02-01', 4.9],
   ['1964-01-01', 5.0],
   ['1963-12-01', 5.0],
   ['1963-11-01', 5.0],
   ['1963-10-01', 4.8],
   ['1963-09-01', 4.8],
   ['1963-08-01', 4.8],
   ['1963-07-01', 5.1],
   ['1963-06-01', 4.9],
   ['1963-05-01', 5.2],
   ['1963-04-01', 5.1],
   ['1963-03-01', 5.0],
   ['1963-02-01', 5.3],
   ['1963-01-01', 5.0],
   ['1962-12-01', 4.8],
   ['1962-11-01', 5.0],
   ['1962-10-01', 4.8],
   ['1962-09-01', 5.0],
   ['1962-08-01', 5.0],
   ['1962-07-01', 4.8],
   ['1962-06-01', 4.8],
   ['1962-05-01', 4.8],
   ['1962-04-01', 4.7],
   ['1962-03-01', 4.8],
   ['1962-02-01', 4.8],
   ['1962-01-01', 5.1],
   ['1961-12-01', 5.3],
   ['1961-11-01', 5.4],
   ['1961-10-01', 5.7],
   ['1961-09-01', 5.9],
   ['1961-08-01', 5.9],
   ['1961-07-01', 6.3],
   ['1961-06-01', 6.2],
   ['1961-05-01', 6.3],
   ['1961-04-01', 6.2],
   ['1961-03-01', 6.2],
   ['1961-02-01', 6.2],
   ['1961-01-01', 5.9],
   ['1960-12-01', 5.9],
   ['1960-11-01', 5.5],
   ['1960-10-01', 5.5],
   ['1960-09-01', 5.1],
   ['1960-08-01', 5.1],
   ['1960-07-01', 4.9],
   ['1960-06-01', 4.8],
   ['1960-05-01', 4.6],
   ['1960-04-01', 4.6],
   ['1960-03-01', 4.8],
   ['1960-02-01', 4.3],
   ['1960-01-01', 4.6],
   ['1959-12-01', 4.7],
   ['1959-11-01', 5.3],
   ['1959-10-01', 5.0],
   ['1959-09-01', 4.9],
   ['1959-08-01', 4.6],
   ['1959-07-01', 4.5],
   ['1959-06-01', 4.4],
   ['1959-05-01', 4.5],
   ['1959-04-01', 4.7],
   ['1959-03-01', 4.9],
   ['1959-02-01', 5.2],
   ['1959-01-01', 5.3],
   ['1958-12-01', 5.5],
   ['1958-11-01', 5.5],
   ['1958-10-01', 6.0],
   ['1958-09-01', 6.4],
   ['1958-08-01', 6.7],
   ['1958-07-01', 6.8],
   ['1958-06-01', 6.6],
   ['1958-05-01', 6.7],
   ['1958-04-01', 6.7],
   ['1958-03-01', 5.9],
   ['1958-02-01', 5.7],
   ['1958-01-01', 5.2],
   ['1957-12-01', 4.7],
   ['1957-11-01', 4.6],
   ['1957-10-01', 4.0],
   ['1957-09-01', 3.9],
   ['1957-08-01', 3.7],
   ['1957-07-01', 3.7],
   ['1957-06-01', 3.7],
   ['1957-05-01', 3.6],
   ['1957-04-01', 3.5],
   ['1957-03-01', 3.4],
   ['1957-02-01', 3.6],
   ['1957-01-01', 3.8],
   ['1956-12-01', 3.8],
   ['1956-11-01', 3.8],
   ['1956-10-01', 3.4],
   ['1956-09-01', 3.5],
   ['1956-08-01', 3.4],
   ['1956-07-01', 3.8],
   ['1956-06-01', 3.7],
   ['1956-05-01', 3.8],
   ['1956-04-01', 3.6],
   ['1956-03-01', 3.7],
   ['1956-02-01', 3.6],
   ['1956-01-01', 3.5],
   ['1955-12-01', 3.7],
   ['1955-11-01', 3.6],
   ['1955-10-01', 3.7],
   ['1955-09-01', 3.6],
   ['1955-08-01', 3.6],
   ['1955-07-01', 3.6],
   ['1955-06-01', 3.7],
   ['1955-05-01', 3.8],
   ['1955-04-01', 4.3],
   ['1955-03-01', 4.0],
   ['1955-02-01', 4.1],
   ['1955-01-01', 4.5],
   ['1954-12-01', 4.4],
   ['1954-11-01', 4.7],
   ['1954-10-01', 5.1],
   ['1954-09-01', 5.9],
   ['1954-08-01', 5.6],
   ['1954-07-01', 5.3],
   ['1954-06-01', 5.0],
   ['1954-05-01', 5.3],
   ['1954-04-01', 5.5],
   ['1954-03-01', 5.0],
   ['1954-02-01', 4.9],
   ['1954-01-01', 4.5]],
  'collapse': None,
  'order': None,
  'database_id': 118}}

In [25]:
name = response['dataset']['name']
data_list = response['dataset']['data']
data_list
unemploymentrate_white = pd.DataFrame(data_list,columns=['date' , name]) # converting list to df
unemploymentrate_white

           date  Unemployment Rate: White
0    2021-03-01                       5.4
1    2021-02-01                       5.6
2    2021-01-01                       5.7
3    2020-12-01                       6.0
4    2020-11-01                       5.9
..          ...                       ...
802  1954-05-01                       5.3
803  1954-04-01                       5.5
804  1954-03-01                       5.0
805  1954-02-01                       4.9
806  1954-01-01                       4.5

[807 rows x 2 columns]

In [6]:
def my_func(a= 'LNS14000006'):
    
    API_KEY = 'tT8qNAwBZW89z54wPsZy'
    url = 'https://www.quandl.com/api/v3/datasets/FRED/'+a+'.json?api+key='+API_KEY
    response = requests.get(url).json()
    response
#"https://www.quandl.com/api/v3/datasets/FRED/LNS14000003/
    name = response['dataset']['name']
    data = response['dataset']['data']
    df = pd.DataFrame(data,columns=['date' , name])
    return df

In [68]:
unemploymentrate_hispanic = my_func(a = 'LNS14000009')
unemploymentrate_hispanic
unemploymentrate_asian = my_func(a= 'LNU04032183')
unemploymentrate_asian
unemploymentrate_african = my_func(a='LNS14000006')
unemploymentrate_african
unemployment_rate = my_func(a = 'UNRATE')
unemployment_rate

           date  Civilian Unemployment Rate
0    2021-03-01                         6.0
1    2021-02-01                         6.2
2    2021-01-01                         6.3
3    2020-12-01                         6.7
4    2020-11-01                         6.7
..          ...                         ...
874  1948-05-01                         3.5
875  1948-04-01                         3.9
876  1948-03-01                         4.0
877  1948-02-01                         3.8
878  1948-01-01                         3.4

[879 rows x 2 columns]

In [11]:
unemploymentrate_hispanic
unemploymentrate_asian
#data2
#data1
#data2

           date  Unemployment Rate: Asian
0    2021-03-01                       5.9
1    2021-02-01                       5.1
2    2021-01-01                       6.8
3    2020-12-01                       5.8
4    2020-11-01                       6.7
..          ...                       ...
250  2000-05-01                       3.5
251  2000-04-01                       3.1
252  2000-03-01                       4.1
253  2000-02-01                       3.4
254  2000-01-01                       4.0

[255 rows x 2 columns]

In [20]:
modified_df  = pd.merge(unemploymentrate_hispanic,unemploymentrate_asian,how='outer', on='date')
modified_df

,date,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian
0,2021-03-01,7.9,5.9
1,2021-02-01,8.5,5.1
2,2021-01-01,8.6,6.8
3,2020-12-01,9.3,5.8
4,2020-11-01,8.4,6.7
...,...,...,...
572,1973-07-01,7.2,NaN
573,1973-06-01,7.9,NaN
574,1973-05-01,8.1,NaN
575,1973-04-01,7.9,NaN
576,1973-03-01,7.3,NaN

In [69]:
df3=pd.merge(modified_df,unemploymentrate_african, how='outer', on='date')
unemploymentrate_race=pd.merge(df3,unemploymentrate_white,how='outer', on='date')
unemploymentrate_race
unemploymentrate_race_df=pd.merge(unemploymentrate_race,unemployment_rate,how='outer', on='date')
unemploymentrate_race_df

,date,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate
0,2021-03-01,7.9,5.9,9.6,5.4,6.0
1,2021-02-01,8.5,5.1,9.9,5.6,6.2
2,2021-01-01,8.6,6.8,9.2,5.7,6.3
3,2020-12-01,9.3,5.8,9.9,6.0,6.7
4,2020-11-01,8.4,6.7,10.3,5.9,6.7
...,...,...,...,...,...,...
874,1948-05-01,NaN,NaN,NaN,NaN,3.5
875,1948-04-01,NaN,NaN,NaN,NaN,3.9
876,1948-03-01,NaN,NaN,NaN,NaN,4.0
877,1948-02-01,NaN,NaN,NaN,NaN,3.8
878,1948-01-01,NaN,NaN,NaN,NaN,3.4

## Setting date as index

In [72]:
unemploymentrate_race_df.set_index('date',inplace=True)

In [73]:
unemploymentrate_race_df.head()

,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate
date,,,,,
2021-03-01,7.9,5.9,9.6,5.4,6.0
2021-02-01,8.5,5.1,9.9,5.6,6.2
2021-01-01,8.6,6.8,9.2,5.7,6.3
2020-12-01,9.3,5.8,9.9,6.0,6.7
2020-11-01,8.4,6.7,10.3,5.9,6.7

In [74]:
unemploymentrate_race_df.tail()

,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate
date,,,,,
1948-05-01,NaN,NaN,NaN,NaN,3.5
1948-04-01,NaN,NaN,NaN,NaN,3.9
1948-03-01,NaN,NaN,NaN,NaN,4.0
1948-02-01,NaN,NaN,NaN,NaN,3.8
1948-01-01,NaN,NaN,NaN,NaN,3.4

In [75]:
unemploymentrate_race_df.isnull()

,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate
date,,,,,
2021-03-01,False,False,False,False,False
2021-02-01,False,False,False,False,False
2021-01-01,False,False,False,False,False
2020-12-01,False,False,False,False,False
2020-11-01,False,False,False,False,False
...,...,...,...,...,...
1948-05-01,True,True,True,True,False
1948-04-01,True,True,True,True,False
1948-03-01,True,True,True,True,False
1948-02-01,True,True,True,True,False
1948-01-01,True,True,True,True,False

In [76]:
unemploymentrate_race_df.describe()

,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate
count,577.000000,255.000000,591.000000,807.000000,879.000000
mean,8.758752,4.855686,11.782910,5.231846,5.768032
std,2.507516,1.972577,3.096016,1.497546,1.704173
min,4.000000,2.000000,5.200000,3.000000,2.500000
25%,6.800000,3.400000,9.500000,4.200000,4.500000
50%,8.600000,4.200000,11.400000,5.000000,5.600000
75%,10.500000,5.950000,14.100000,6.100000,6.800000
max,18.900000,14.800000,21.200000,14.100000,14.800000

In [77]:
unemploymentrate_race_df.head(50)

,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate
date,,,,,
2021-03-01,7.9,5.9,9.6,5.4,6.0
2021-02-01,8.5,5.1,9.9,5.6,6.2
2021-01-01,8.6,6.8,9.2,5.7,6.3
2020-12-01,9.3,5.8,9.9,6.0,6.7
2020-11-01,8.4,6.7,10.3,5.9,6.7
2020-10-01,8.8,7.5,10.8,6.0,6.9
2020-09-01,10.3,8.8,12.0,7.0,7.8
2020-08-01,10.5,10.7,12.8,7.4,8.4
2020-07-01,12.7,12.2,14.4,9.2,10.2
2020-06-01,14.5,13.9,15.3,10.1,11.1
2020-05-01,17.6,14.8,16.7,12.3,13.3
2020-04-01,18.9,14.3,16.7,14.1,14.8
2020-03-01,6.0,4.1,6.8,3.9,4.4
2020-02-01,4.4,2.5,6.0,3.0,3.5
2020-01-01,4.3,3.2,6.1,3.0,3.5
2019-12-01,4.3,2.4,6.2,3.1,3.6
2019-11-01,4.3,2.6,5.7,3.3,3.6
2019-10-01,4.2,2.8,5.6,3.3,3.6
2019-09-01,4.0,2.4,5.4,3.2,3.5
2019-08-01,4.2,2.9,5.2,3.4,3.7
2019-07-01,4.4,3.0,5.6,3.3,3.6
2019-06-01,4.3,2.3,6.0,3.3,3.6
2019-05-01,4.1,2.3,6.1,3.3,3.7
2019-04-01,4.1,2.1,6.6,3.2,3.7
2019-03-01,4.5,3.0,6.5,3.3,3.8
2019-02-01,4.3,3.2,7.0,3.2,3.8
2019-01-01,4.8,3.2,6.9,3.5,4.0
2018-12-01,4.5,3.1,6.8,3.4,3.9
2018-11-01,4.6,2.7,6.2,3.4,3.8
2018-10-01,4.4,3.1,6.4,3.3,3.8
2018-09-01,4.6,3.5,6.2,3.3,3.7
2018-08-01,4.7,3.0,6.2,3.4,3.8
2018-07-01,4.5,3.3,6.4,3.3,3.8
2018-06-01,4.6,3.4,6.5,3.5,4.0
2018-05-01,4.8,2.0,5.8,3.5,3.8
2018-04-01,4.8,2.7,6.5,3.6,4.0
2018-03-01,4.9,3.0,6.6,3.5,4.0
2018-02-01,4.9,3.0,6.8,3.6,4.1
2018-01-01,4.9,3.1,7.5,3.5,4.0
2017-12-01,5.0,2.4,6.9,3.7,4.1
2017-11-01,4.9,3.0,7.5,3.7,4.2
2017-10-01,5.0,2.9,7.6,3.6,4.1
2017-09-01,5.1,3.5,7.2,3.7,4.2
2017-08-01,5.1,4.0,7.5,3.9,4.4
2017-07-01,5.1,4.0,7.2,3.7,4.3
2017-06-01,5.0,3.8,7.1,3.8,4.3
2017-05-01,5.2,3.5,7.6,3.8,4.4
2017-04-01,5.2,3.1,7.8,3.9,4.5
2017-03-01,5.0,3.2,7.9,3.9,4.4
2017-02-01,5.6,3.5,8.0,4.0,4.6

In [78]:
unemploymentrate_race_df.shape

(879, 5)

### Unemployment Rate by Gender

In [39]:
def my_func(a= 'LNS14000001'):
    
    API_KEY = 'tT8qNAwBZW89z54wPsZy'
    url = 'https://www.quandl.com/api/v3/datasets/FRED/'+a+'.json?api+key='+API_KEY
    response = requests.get(url).json()
    response
#"https://www.quandl.com/api/v3/datasets/FRED/LNS14000003/
    name = response['dataset']['name']
    data = response['dataset']['data']
    df = pd.DataFrame(data,columns=['date' , name])
    return df

In [79]:
unemploymentrate_men =my_func(a= 'LNS14000001')
unemploymentrate_men 
unemploymentrate_women= my_func(a= 'LNS14000002')
unemploymentrate_women

           date  Unemployment Rate: Women
0    2021-03-01                       5.9
1    2021-02-01                       6.1
2    2021-01-01                       6.3
3    2020-12-01                       6.7
4    2020-11-01                       6.4
..          ...                       ...
874  1948-05-01                       3.7
875  1948-04-01                       4.3
876  1948-03-01                       4.4
877  1948-02-01                       4.5
878  1948-01-01                       3.3

[879 rows x 2 columns]

In [80]:
unemploymentrate_gender= pd.merge(unemploymentrate_men,unemploymentrate_women,how='outer',on='date')
unemploymentrate_gender

           date  Unemployment Rate: Men  Unemployment Rate: Women
0    2021-03-01                     6.2                       5.9
1    2021-02-01                     6.3                       6.1
2    2021-01-01                     6.4                       6.3
3    2020-12-01                     6.7                       6.7
4    2020-11-01                     6.9                       6.4
..          ...                     ...                       ...
874  1948-05-01                     3.5                       3.7
875  1948-04-01                     3.8                       4.3
876  1948-03-01                     3.8                       4.4
877  1948-02-01                     3.6                       4.5
878  1948-01-01                     3.4                       3.3

[879 rows x 3 columns]

In [81]:
unemploymentrate_race_gender_df=pd.merge(unemploymentrate_race_df,unemploymentrate_gender,how='outer',on='date')
unemploymentrate_race_gender_df

,date,Unemployment Rate: Hispanic or Latino,Unemployment Rate: Asian,Unemployment Rate: Black or African American,Unemployment Rate: White,Civilian Unemployment Rate,Unemployment Rate: Men,Unemployment Rate: Women
0,2021-03-01,7.9,5.9,9.6,5.4,6.0,6.2,5.9
1,2021-02-01,8.5,5.1,9.9,5.6,6.2,6.3,6.1
2,2021-01-01,8.6,6.8,9.2,5.7,6.3,6.4,6.3
3,2020-12-01,9.3,5.8,9.9,6.0,6.7,6.7,6.7
4,2020-11-01,8.4,6.7,10.3,5.9,6.7,6.9,6.4
...,...,...,...,...,...,...,...,...
874,1948-05-01,NaN,NaN,NaN,NaN,3.5,3.5,3.7
875,1948-04-01,NaN,NaN,NaN,NaN,3.9,3.8,4.3
876,1948-03-01,NaN,NaN,NaN,NaN,4.0,3.8,4.4
877,1948-02-01,NaN,NaN,NaN,NaN,3.8,3.6,4.5
878,1948-01-01,NaN,NaN,NaN,NaN,3.4,3.4,3.3

## For converting date to datetime data type

In [82]:
unemploymentrate_race_gender_df.dtypes

date                                             object
Unemployment Rate: Hispanic or Latino           float64
Unemployment Rate: Asian                        float64
Unemployment Rate: Black or African American    float64
Unemployment Rate: White                        float64
Civilian Unemployment Rate                      float64
Unemployment Rate: Men                          float64
Unemployment Rate: Women                        float64
dtype: object

In [87]:
unemploymentrate_race_gender_df["date"]=pd.to_datetime(unemploymentrate_race_gender_df["date"])
unemploymentrate_race_gender_df.dtypes

date                                            datetime64[ns]
Unemployment Rate: Hispanic or Latino                  float64
Unemployment Rate: Asian                               float64
Unemployment Rate: Black or African American           float64
Unemployment Rate: White                               float64
Civilian Unemployment Rate                             float64
Unemployment Rate: Men                                 float64
Unemployment Rate: Women                               float64
dtype: object

In [92]:
unemploymentrate_race_gender_df.columns

Index(['date', 'Unemployment Rate: Hispanic or Latino',
       'Unemployment Rate: Asian',
       'Unemployment Rate: Black or African American',
       'Unemployment Rate: White', 'Civilian Unemployment Rate',
       'Unemployment Rate: Men', 'Unemployment Rate: Women'],
      dtype='object')

## Renaming column names

In [104]:
unemploymentrate_race_gender_df.rename(columns ={'date': 'Date','Unemployment Rate: Hispanic or Latino' :'Unemp_Hispanic',
                                                 'Unemployment Rate: Asian':'Unemp_Asian',
                                                 'Unemployment Rate: Black or African American':'Unemp_Black',
                                                'Unemployment Rate: White':'Unemp_White',
                                               'Civilian Unemployment Rate' :'Unemp_Civilian','Unemployment Rate: Men' :'Unemp_Men',
                                               'Unemployment Rate: Women':'Unemp_Women'},inplace=True)
unemploymentrate_race_gender_df

,Date,Unemp_Hispanic,Unemp_Asian,Unemp_Black,Unemp_White,Unemp_Civilian,Unemp_Men,Unemp_Women
0,2021-03-01,7.9,5.9,9.6,5.4,6.0,6.2,5.9
1,2021-02-01,8.5,5.1,9.9,5.6,6.2,6.3,6.1
2,2021-01-01,8.6,6.8,9.2,5.7,6.3,6.4,6.3
3,2020-12-01,9.3,5.8,9.9,6.0,6.7,6.7,6.7
4,2020-11-01,8.4,6.7,10.3,5.9,6.7,6.9,6.4
...,...,...,...,...,...,...,...,...
874,1948-05-01,NaN,NaN,NaN,NaN,3.5,3.5,3.7
875,1948-04-01,NaN,NaN,NaN,NaN,3.9,3.8,4.3
876,1948-03-01,NaN,NaN,NaN,NaN,4.0,3.8,4.4
877,1948-02-01,NaN,NaN,NaN,NaN,3.8,3.6,4.5
878,1948-01-01,NaN,NaN,NaN,NaN,3.4,3.4,3.3

In [105]:
unemploymentrate_race_gender_df

,Date,Unemp_Hispanic,Unemp_Asian,Unemp_Black,Unemp_White,Unemp_Civilian,Unemp_Men,Unemp_Women
0,2021-03-01,7.9,5.9,9.6,5.4,6.0,6.2,5.9
1,2021-02-01,8.5,5.1,9.9,5.6,6.2,6.3,6.1
2,2021-01-01,8.6,6.8,9.2,5.7,6.3,6.4,6.3
3,2020-12-01,9.3,5.8,9.9,6.0,6.7,6.7,6.7
4,2020-11-01,8.4,6.7,10.3,5.9,6.7,6.9,6.4
...,...,...,...,...,...,...,...,...
874,1948-05-01,NaN,NaN,NaN,NaN,3.5,3.5,3.7
875,1948-04-01,NaN,NaN,NaN,NaN,3.9,3.8,4.3
876,1948-03-01,NaN,NaN,NaN,NaN,4.0,3.8,4.4
877,1948-02-01,NaN,NaN,NaN,NaN,3.8,3.6,4.5
878,1948-01-01,NaN,NaN,NaN,NaN,3.4,3.4,3.3

In [116]:
unemploymentrate_race_gender_df["Unemp_White_Men"] =unemploymentrate_race_gender_df["Unemp_White"] * unemploymentrate_race_gender_df["Unemp_Men"]/1000*100
unemploymentrate_race_gender_df

,Date,Unemp_Hispanic,Unemp_Asian,Unemp_Black,Unemp_White,Unemp_Civilian,Unemp_Men,Unemp_Women,Unemp_White_Men
0,2021-03-01,7.9,5.9,9.6,5.4,6.0,6.2,5.9,3.348
1,2021-02-01,8.5,5.1,9.9,5.6,6.2,6.3,6.1,3.528
2,2021-01-01,8.6,6.8,9.2,5.7,6.3,6.4,6.3,3.648
3,2020-12-01,9.3,5.8,9.9,6.0,6.7,6.7,6.7,4.020
4,2020-11-01,8.4,6.7,10.3,5.9,6.7,6.9,6.4,4.071
...,...,...,...,...,...,...,...,...,...
874,1948-05-01,NaN,NaN,NaN,NaN,3.5,3.5,3.7,NaN
875,1948-04-01,NaN,NaN,NaN,NaN,3.9,3.8,4.3,NaN
876,1948-03-01,NaN,NaN,NaN,NaN,4.0,3.8,4.4,NaN
877,1948-02-01,NaN,NaN,NaN,NaN,3.8,3.6,4.5,NaN
878,1948-01-01,NaN,NaN,NaN,NaN,3.4,3.4,3.3,NaN